<h2>Edit Historical Landmark</h2>


<form method="POST" action="/landmark/"<%=@landmark.id%>>
    <label id="landmark_name">Landmark Name:</label>
    <input type="text" id="name" name="landmark[name]" value=<%=@landmark.name%>><br>

    <label id="landmark_year_completed">Year Completed:</label>
    <input type="text" id="year_completed" name="landmark[year_completed]" value=<%=@landmark.year_completed%>><br>

    <input type="submit" value="Edit Landmark">
</form>


<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>