<h2>Create New Landmark</h2>

<form action="/landmarks" method="POST">
    <label id="landmark_name">Landmark Name:</label>
    <input type="text" id="landmark_name" name="landmark[name]"><br>
    <label id="landmark_year_completed">Landmark Year:</label>
    <input type="text" id="landmark_year_completed" name="landmark[year_completed]"><br>

    <br>
    <input type="submit" value="Create New Landmark"><br>
</form>


<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
